# Visual Studio Intermediate Files
.vs
*.user
X64

# Linux/Mac Intermediate Files
*.o
src/bins/

# GCC Coverage Intermediate Files
*.gcno

# Autoamke Intermediate Files
aclocal.m4
autom4te.cache/
config.h.in
config.log
config.status
configure
install-sh
missing
